<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>About</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/about.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Age&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/service">Services</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="about">
        <div class="container">
          <h2>ABOUT VIPA</h2>
          <p>
            Welcome to Vipa Clothing, your ultimate destination for fashionable
            and high-quality garments. We believe that clothing is an expression
            of individuality and strive to empower our customers to look and
            feel their best.
          </p>
          <p>
            At Vipa Clothing, we curate a diverse range of styles that cater to
            different tastes and occasions. From casual wear to formal attire,
            our collections are designed with a keen eye for detail, ensuring
            comfort and confidence in every outfit.
          </p>
          <p>
            Our team of talented designers and fashion enthusiasts continuously
            explores the latest trends, fabrics, and techniques to bring you
            innovative and unique pieces. We pay meticulous attention to
            craftsmanship and quality, delivering garments that stand the test
            of time.
          </p>
          <p>
            Customer satisfaction is our utmost priority. We go the extra mile
            to provide exceptional customer service, seamless online shopping
            experiences, and fast, reliable shipping to your doorstep. We value
            your feedback and are always here to assist you.
          </p>
          <p>
            Thank you for choosing Vipa Clothing as your fashion partner. Join
            us on this stylish journey and let us help you create unforgettable
            fashion moments.
          </p>
          <a href="/contact" class="cta-button">Contact Us</a>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; 2023 Vipa Clothing. All rights reserved.</p>
    </footer>
  </body>
</html>
